$color-1st: var(--color-1st);
$color-2nd: var(--color-2nd);
$color-success: var(--color-success);
$color-info: var(--color-info);
$color-warning: var(--color-waring);
$color-danger: var(--color-danger);
$color-border: var(--color-border);
$color-text: var(--color-text);
$color-heading: var(--color-heading);
$color-dark: var(--color-dark);