:root {
    --color-success: #00c9a7;
    --color-info: #96ed89;
    --color-warning: #faa806;
    --color-danger: #ec2434;
    --color-border: #e4e4e4;
    --color-text: #707070;
    --color-contrast: #fff;
    --color-heading: #282828;
    --cowlor-dark: #8a8a8a;
}
