.footer {
    padding: 45px 0;
    background-color: #f9f9f9;

    .widget--footer {
        margin-bottom: 20px;
    }

    @media screen and (min-width: 1200px) {
        .widget--footer {
            margin-bottom: 40px;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}
