.home-blog {
    margin-bottom: 60px;
    @media screen and (max-width: 1199px) {
        .post {
            margin-bottom: 30px;
        }
    }
}

.page--blog, .page--inner {
    padding: 30px 0;

    .page__header {
        padding-bottom: 30px;
    }

    @media screen and (min-width: 768px) {
        padding: 30px 0 50px;
    }

    @media screen and (min-width: 1200px) {
        padding: 50px 0 100px;
    }
}


.page--shop {
    padding-bottom: 50px;

    .page__hero {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 250px;
        text-transform: uppercase;

        &:before {
            content: '';
            @include max-area();
            background-color: rgba(#000, 0.25);
        }

        h1 {
            position: relative;
            z-index: 10;
            font-size: 20px;
            text-transform: uppercase;
            color: #fff;
        }
    }

    @media screen and (min-width: 768px) {
        .page__hero {
            h1 {
                font-size: 30px;
            }
        }
    }

    @media screen and (min-width: 992px) {
        .page__hero {
            h1 {
                font-size: 36px;
            }
        }
    }

    @media screen and (min-width: 1200px) {
        padding-bottom: 90px;
        .page__hero {
            h1 {
                font-size: 48px;
            }
        }
    }
}

.page--product--detail {

    .product--detail {
        margin-bottom: 50px;
    }
}
